 /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */

     #endingPoint {
      width: 100%;
      padding: 50px 0;
      text-align: center;
      /* background-color: lightblue; */
      margin-top: 20px;
      display:none;
    }

    #secondPlace {
      width: 100%;
      padding: 50px 0;
      text-align: center;
      /* background-color: lightblue; */
      margin-top: 20px;
      display:none;
    }

     #map {
        height: 40%;
        width: 80%;
        background-color: grey;
        display: block;
        margin: 0 auto;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
      }
  
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        
      }
  
      /* TODO: Step 4A1: Make a generic sidebar */
      /* Styling for an info pane that slides out from the left. 
       * Hidden by default. */
      #panel {
        height: null;
        width: 70%;
        
        position: relative;
        z-index: 1;
        overflow-x: hidden;
        transition: all .2s ease-out;
        display: block;
        margin: 0 auto;
        border-radius: 10px;
        border: 1px solid black;
      }
  
      .open {
        width: 50%;
      }
  
      /* Styling for place details */
      .hero {
        width: auto;
        height: auto;
        max-height: 166px;
        display: block;
        margin: 0 auto;
        padding-top: 5px;
        border-radius: 10px;
      }
  
      .place,
      p {
        font-family: 'open sans', arial, sans-serif;
        padding-left: 18px;
        padding-right: 18px;
        text-align: center;
      }
  
      .details {
        color: darkslategrey;
      }
  
      a {
        text-decoration: none;
        color: cadetblue;
        
      }